/***=========================================== About ===========================================***/
#about {
    background: #495e57;
    margin: 40px 0;
    border-radius: 16px;
    padding: 25px 20px 25px 25px;
    color: #edefee;
    display: flex;
    min-height: 430px;
}

#about div {
    display: flex;
}

#about p {
    margin-top: 5%;
    margin-bottom: 0;
    max-width: 66%;
}

#about img {
    height: 330px;
    width: 245px;
    object-fit: cover;
    object-position: 70% 50%;
    border-radius: 16px;;
    top: 0;
    box-shadow: 2px 3px 5px #000;
}