.formStyle {
    display: grid;
    /*width: 18.5rem;*/
    gap: 20px;
    padding: 2rem 0;
}

.formField {
    display: flex;
    flex-direction: column;
}

.formField input,
.formField textarea {
    border: #d9d9d9 solid 1px;
    border-radius: 8px;
    font-family: "Karla";
    padding: 8px 20px;
    background-color: white;
    width: 100%;
    min-height: 39px;
}

.formField input[type="date"] {
    padding: 8px 12px 8px 20px;
}

.formField textarea {
    resize: none;
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    grid-area: select;
}

select::-ms-expand {
    display: none;
}

.formSelect {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    padding: 8px 20px;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
}

.formCheckBox input[type="checkbox"] {
    margin-right: 0.5rem;
}

.formHeader {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.formHeader h3,
.formHeader h4 {
    display: inline-block;
}

.error {
    color: red;
    max-width: 65ch;
    padding: 0.5rem 0;
    text-wrap: wrap;
}

.subForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1.2rem;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.disabled {
    opacity: 65%;
    pointer-events: none;
}

.backButton {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    background: #495e57;
    border: 2px solid #edefee;
    color: #edefee;
}

.backButton:hover {
    background: #edefee;
    color: #495e57;
    border: 2px solid #495e57;
}

.backButton:active {
    background: #edefee;
    border: 2px solid #f4ce14;
    color: #495e57;
}

.backButton:disabled {
    background: #d9d9d9;
    border: 2px solid #edefee;
    color: #edefee;
    cursor: default;
}

.resHeader h2 {
    margin: 26px 0;
    grid-template-areas: "header image";
}

.fieldBox {
    display: flex;
    justify-content: space-between;
}

.field {
    font-weight: bolder;
    margin-right: 0.5rem;
}

.resConfirmDetails {
    display: grid;
    grid-template-areas: 'fields image';
    padding: 1.5rem 2rem ;
    border-radius: 16px;
    background: #495e57;
    color: #edefee;
    gap: 0.7rem;
    margin-bottom: 40px;
    min-width: 360px;
}

.resConfirmDetails>div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/**** ============================ Form Animation Styles ============================  ****/
.animRight-enter {
    opacity: 0;
    transform: translateX(0);
}

.animRight-enter-active {
    opacity: 1;
    transform: translateX(170px);
    transition: opacity 300ms, transform 300ms ease-out;
}

.animRight-enter-done {
    opacity: 1;
    transform: translateX(170px);
}

.animRight-exit {
    opacity: 1;
    transform: translateX(170px);
}

.animRight-exit-active {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms ease-in;
}

.animLeft-enter {
    transform: translateX(0);
}

.animLeft-enter-active {
    transform: translateX(-170px);
    transition: transform 300ms ease-out;
}

.animLeft-enter-done {
    transform: translateX(-170px);
}

.animLeft-exit {
    transform: translateX(-170px);
}

.animLeft-exit-active {
    transform: translateX(0);
    transition: transform 300ms ease-in;
}