@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html * {
  font-size: 1em;
  font-family: "Karla";
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #edefee;
  color: #333;
}

main {
  flex: 1;
}

nav {
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: center;
  color: #333;
}

nav li {
  display: inline;
  /*margin: 0 0 0 20px;*/
}

nav li a:link {
  color: #333;
  text-decoration: none;
  background-color: none;
  padding: 10px 20px;
}

nav li a:visited {
  color: #333;
  text-decoration: none;
}

nav li a:hover {
  color: #edefee;
  background-color: #495e57;
  text-decoration: none;
  border-radius: 8px;
}

nav li a:active {
  color: #f4ce14;
  background-color: #495e57;
  text-decoration: none;
  border-radius: 8px;
}

nav li a.active {
  text-decoration: underline;
}

header {
  background-color: #495e57;
  color: #edefee;
}

h1 {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 400;
}

header h1,
#about h1 {
  color: #f4ce14;
  line-height: 44pt;
  margin-top: 2rem;
}

h2 {
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: 300;
}

h2 .sub {
  margin-top: -1.1rem;
}

h3 {
  color: #495e57;
  font-weight: bolder;
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

.callOutText {
  font-size: 18pt;
  font-weight: 400;
}

header p {
  margin-top: 2%;
  margin-right: 30%;
}

.headerDiv {
  display: grid;
  margin: 0 auto;
  min-width: 480px;
  max-width: 800px;
  grid-template-columns: 1fr 20rem;
  grid-template-areas:
    "header image"
    "subheader image"
    "blurb image"
    "button image";
}

.resBG {
  background-image: url(../assets/restaurant.jpg);
  background-repeat: no-repeat;
  background-position: center 65%;
  min-height: 176px;
  color: #495e57;
}

.backButton {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0px;
  background: #495e57;
  border: 2px solid #edefee;
  color: #edefee;
}

.backButton:hover {
  background: #edefee;
  color: #495e57;
  border: 2px solid #495e57;
}

.backButton:active {
  background: #edefee;
  border: 2px solid #f4ce14;
  color: #495e57;
}

.backButton:disabled {
  background: #d9d9d9;
  border: 2px solid #edefee;
  color: #edefee;
  cursor: default;
}

.headerTextColumn {
  margin: 20px 40px 20px 0;
}

.headerImageDiv {
  width: 20rem;
  height: 20rem;
  margin: 20px 0;
  overflow: hidden;
  grid-area: "image";
}

#reserveTableButton {
  margin: 40px 0 20px;
}

.yellowButton {
  border-radius: 8px;
  border: 1px #f4ce14 solid;
  padding: 10px 40px;
  background-color: #f4ce14;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.yellowButton:hover {
  background-color: #495e57;
  color: #edefee;
  border: 1px #edefee solid;
}

.yellowButton:disabled {
  background: #d9d9d9;
  border: 2px solid #edefee;
  color: #edefee;
  cursor: default;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

/***=========================================== Footer ===========================================***/

footer {
  background-color: #495e57;
  color: #edefee;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: auto;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer h4 {
  margin-bottom: 8px;
  text-wrap: wrap;
}

footer a:link {
  color: #edefee;
}

footer a:visited {
  color: #edefee;
}

footer a:hover {
  color: #f4ce14;
}

footer a:active {
  color: #f4ce14;
}

footer a img {
  height: 24px;
  width: 24px;
  margin: 10px 20px 10px 0px;
  display: inline;
}

footer a:hover img {
  filter: invert(25%) sepia(98%) saturate(1375%) hue-rotate(352deg)
    brightness(106%) contrast(91%);
}

/***=========================================== Forms ===========================================***/

.formStyle {
  display: grid;
  width: 18.5rem;
  gap: 20px;
  padding: 2rem 0;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formField input,
.formField textarea {
  border: #d9d9d9 solid 1px;
  border-radius: 8px;
  font-family: "Karla";
  padding: 8px 20px;
  background-color: white;
  width: 100%;
}

.formField input[type="date"] {
  padding: 8px 12px 8px 20px;
}

.formField textarea {
  resize: none;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  grid-area: select;
}

select::-ms-expand {
  display: none;
}

.formSelect {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  padding: 8px 20px;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.formCheckBox input[type="checkbox"] {
  margin-right: 0.5rem;
}

.formHeader {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.formHeader h3,
.formHeader h4 {
  display: inline-block;
}

.error {
  color: red;
  max-width: 65ch;
  padding: 0.5rem 0;
  text-wrap: wrap;
}

/*** Specials  ***/

.specialsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.125rem 0;
}

.specialsHeader h1 {
  display: inline-block;
}

.specialCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  box-shadow: 2px 3px 5px #888;
  padding-bottom: 20px;
  height: 30rem;
}

.specialCard .blurb,
.specialCard a,
.specialCardTitle {
  padding: 8px 20px;
}

.specialCard a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.specialCard a {
  margin-top: auto;
}

.specialCard a img {
  height: 1.25rem;
}

.specialCard .blurb {
  align-self: stretch;
  color: #495e57;
}

.specialCardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  margin-top: 1rem;
}

.specialCardTitle h5 {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
}

.specialsList {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/***=========================================== Testimonials ===========================================***/

.testimonials h2{
    margin-top: 6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.testimonials > div {
    display: flex;
    justify-content: space-between;
}

.testimonialCard {
    width: 24%;
    padding: 10px 20px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 3px 5px #888;
    display: flex;
    flex-direction: column;
}

.testimonialCard > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 8px 0;
}

.testimonialCard > blockquote {
    color:#495e57;
    text-align: center;
    margin-top: 10px;
}

/***=========================================== Spinner ===========================================***/

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f4ce14;
  border-color: #f4ce14 #f4ce14 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***=========================================== About ===========================================***/
#about {
    background: #495e57;
    margin: 40px 0;
    border-radius: 16px;
    padding: 25px 20px 25px 25px;
    color: #edefee;
    display: flex;
    min-height: 430px;
}

#about div {
    display: flex;
    flex-direction: column;
}

#about p {
    margin-top: 5%;
    margin-bottom: 0;
    max-width: 66%;
}

#about img {
    height: 330px;
    width: 245px;
    object-fit: cover;
    object-position: 70% 50%;
    border-radius: 16px;;
    top: 0;
    left: 0;
    box-shadow: 2px 3px 5px #000;
} 