@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text');

html *
{
    font-size: 1em;
    font-family: 'Karla';
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
}

main {
    flex: 1;
}

nav {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    color: #333;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

header {
    background-color: #495E57;
    color: #EDEFEE;
}

h1 {
    font-family: 'Markazi Text';
    font-size: 64pt;
    font-weight: 400;
}

header h1 {
    color: #F4CE14;
    line-height: 44pt;
    margin-top: 2rem;
}

h2 {
    font-family: 'Markazi Text';
    font-size: 40pt;
    font-weight: 300;
    margin-top: -1.1rem;
}

.callOutText {
    font-size: 18pt;
    font-weight: 400;
}

header p {
    margin-top: 2%;
    margin-right: 30%;
}

.headerDiv {
    display: grid;
    margin: 0 auto;
    min-width:480px;
    max-width: 800px;
    grid-template-columns: 1fr 20rem;
    grid-template-areas: 
        'header image'
        'subheader image'
        'blurb image'
        'button image'
    ;
}

.headerTextColumn {
    margin: 20px 40px 20px 0;
}

.headerImageDiv {
    width: 20rem;
    height: 20rem;
    margin: 20px 0;
    overflow: hidden;
    grid-area: 'image';
}

#reserveTableButton {
    margin: 40px 0 20px;
}

.yellowButton {
    border-radius: 8px;
    border: 0px;
    padding: 10px 40px;
    background-color: #F4CE14;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.yellowButton:hover {
    background-color: #495E57;
    color: #EDEFEE;
    border: 1px #EDEFEE solid;
}

footer {
    background-color: #495E57;
    color:#EDEFEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h4 {
    margin-bottom: 8px;
    text-wrap: wrap;
}

footer a:link {
    color: #EDEFEE;
}

footer a:visited {
    color: #EDEFEE;
}

footer a:hover {
    color: #F4CE14;
}

footer a:active {
    color: #F4CE14;
}

footer a img {
    height: 24px;
    width: 24px;
    margin: 10px 20px 10px 0px;
    display: inline;
}

footer a:hover img {
    filter: invert(25%) sepia(98%) saturate(1375%) hue-rotate(352deg) brightness(106%) contrast(91%);
}