@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html * {
  font-size: 1em;
  font-family: "Karla";
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #edefee;
  color: #333;
}

body {
  min-width: 320px;
}

main {
  flex: 1;
}

#nav {
  display: flex;
  padding: 10px 25px;
  align-items: center;
  justify-content: center;
  color: #333;
}

#navList {
  display: flex;
  flex-wrap: nowrap;
}

#nav li {
  display: inline;
}

#nav>ul>li a:link {
  color: #333;
  text-decoration: none;
  background-color: none;
  text-wrap: nowrap;
  padding: 10px 20px;
}

#nav>ul>li a:visited {
  color: #333;
  text-decoration: none;
}

#nav>ul>li a:hover {
  color: #edefee;
  background-color: #495e57;
  text-decoration: none;
  border-radius: 8px;
}

#nav>ul>li a:active {
  color: #f4ce14;
  background-color: #495e57;
  text-decoration: none;
  border-radius: 8px;
}

#nav>ul>li a.active {
  text-decoration: underline;
}

header {
  background-color: #495e57;
  color: #edefee;
}

h1 {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 400;
}

header h1,
#about h1 {
  color: #f4ce14;
  line-height: 44pt;
  margin-top: 2rem;
}

h2 {
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: 300;
}

h2.sub {
  line-height: 30pt;
}

h3 {
  color: #495e57;
  font-weight: bolder;
  font-size: 1.25rem;
  margin: 1.25rem 0;
}

h6 {
  font-size: 20pt;
  font-weight: bolder;
  text-transform: capitalize;
}

.callOutText {
  font-size: 18pt;
  font-weight: 400;
}

header p {
  max-width: 60%;

}

.headerDiv {
  display: grid;
  margin: 0 auto;
  min-width: 480px;
  max-width: 800px;
  padding: 20px 20px;
  gap: 0 20px;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    "header image"
    "subheader image"
    "blurb image"
    "button image"
}

.headerTextColumn {
  margin: 20px 20px 0 0;
}

.headerImageDiv {
  width: 20rem;
  height: 20rem;
  margin: 20px 0;
  overflow: hidden;
  grid-area: image;
  display: flex;
  justify-content: flex-end;
}

#headerImage {
  width: 20rem;
  height: 20rem;
  border-radius: 16px;
  object-fit: cover;
}

#reserveTableButton {
  max-width: 300px;
}

.yellowButton {
  border-radius: 8px;
  border: 1px #f4ce14 solid;
  padding: 10px 40px;
  background-color: #f4ce14;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  text-wrap: nowrap;
}

.yellowButton:hover {
  background-color: #495e57;
  color: #edefee;
  border: 1px #edefee solid;
}

.yellowButton:disabled {
  background: #d9d9d9;
  border: 2px solid #edefee;
  color: #edefee;
  cursor: default;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.svgFilter {
  filter: invert(34%) sepia(27%) saturate(282%) hue-rotate(109deg) brightness(91%) contrast(88%);
}

.svgFilterLight {
  filter: invert(99%) sepia(76%) saturate(928%) hue-rotate(194deg) brightness(114%) contrast(87%);
}

/***************============================== MEDIA QUERIES ==============================***************/
 
@media (max-width: 954px) {
  #logoLink img {
    max-height: 44px;
  }
}

@media (max-width: 767px) {
  #navList {
    display: none;
  }

  #nav {
    justify-content: space-between;
    position: sticky;
    top: 0;
    background:#edefee;
    z-index: 11;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.3);
  }

  .headerDiv {
    min-width: 320px;
    padding: 0 25px 20px 25px;
    height: 360px;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
    "header header"
    "subheader image"
    "blurb image"
    "button image";
  }

  .headerDiv p {
    max-width: 30ch;
    align-self: stretch;
  }

  .headerImageDiv {
    align-self: center;
  }

  .headerImageDiv,
  #headerImage {
    height: 13rem;
    width: 13rem;
  }

  #reserveTableButton {
    width: min-content;
  }
}

@media (max-width: 599px) {
  .headerImageDiv,
  #headerImage {
    height: 9.1rem;
    width: 9.1rem;
  }
}

@media (max-width: 419px) {
  h1 {
    font-size: 44pt;
    line-height: 30pt;
  }

  h2 {
    font-size: 32pt;
  }

  h2.sub {
    line-height: 20pt;;
  }
}